main {
    background-color: mediumaquamarine;
    height: 90vh;
    width: 100vh;
    margin: auto;
    transform: skewX(-10deg) rotate(-10deg) translate(-430px,-50px);
    display:flex;
    align-items:center;
  }
  